.full-page-container {
    width: 100vw;
    height: 100vh;
}

/* Contains videos */
.videocontainer {
  width: 100%;
  height: 100%;
  position: relative;
}
/* Single Video */
.video {
  margin: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
}

/* Peervideo & Myvideo */
.myvideo {
  z-index: 2;
}
.peervideo {
  z-index: 1;
}

/* Animation */

.roundify {
    animation: roundify .7s ease forwards;
}
@keyframes roundify {
    100% {width: 200px; height: 200px; margin: 30px;}
}
