<!-- Popout Window for Moderator -->

<!-- AV -->
<section>
  {{> av}}
</section>

<!-- End Stream anchor-->
<section>
  <a href="/endsession">
    <!-- If font awesome is used, this markup would display telephone icon (http://fontawesome.io/icon/phone/) -->
    <i class="fa fa-phone" aria-hidden="true"></i>
    End Stream
  </a>
</section>
