{{>nav}}
<div class="livepeers-bg"></div>

<div class="landing">
  <h1 class="landing__header">Welcome to LivePeers</h1>
  <h2 class="landing__subheader">Simply create a new session</h2>

  <form class="landing__form" action="/create" method="post">
    <label class="landing__label" for="username">Username</label>
      <input class="landing__input" id="username" name="username" type="text" placeholder="Enter your username" pattern="^[A-Za-z0-9]{3,25}$" title="Username should be a minimum of three alphanumeric characters, with no spaces"/>
    <br />
    <label class="landing__label" for="password">Password</label>
      <input class="landing__input" id="password" name="password" type="password" placeholder="Enter your password" />
    <br />
    <label class="landing__label" for="roomName">Session name</label>
      <input class="landing__input" id="roomName" name="roomName" type="text" placeholder="Enter a session name" pattern="^[A-Za-z0-9\s]+$" title="Session name should be a mimum of three alphanumeric characters, and can have spaces"/>
    <br />
    <label class="landing__label" for="submit">Submit</label>
      <button class="landing__submit" type="submit">Submit</button>
  </form>
</div>
