<!-- Header -->
<header class="header">
  <!-- Logo -->
  <img class="header__logo" src="images/logo.png"/>
  <!-- Info -->
  <div class="header__info">
    <span class="header__info-text">Session Info</span>
    <i class="material-icons header__info-icon">keyboard_arrow_down</i>
  </div>
  <!-- Popout -->
  <div class="header__popout" style="display: none;">
    <h3 class="header__popout-text">Live at</h3>
    <p class="header__popout-text-box">https://livepeers.com?roomid={{roomId}}</p>
    <h3 class="header__popout-text">Session Pin</h3>
    <p class="header__popout-text-box">{{pin}}</p>
  </div>
  <!-- Room Title -->
  <div class="header__room-title">
    <h2 class="header__room-title-text">{{roomName}}</h2>
    <i class="material-icons header__room-title-icon">mode_edit</i>
  </div>

  <!-- Username -->
  <h3 class="header__username">{{username}}</h3>
</header>

<!-- Main App -->
<section class="main">
  <nav class="nav">
    <i class="material-icons nav__icon nav__chat">chat_bubble</i>
    <i class="material-icons nav__icon nav__video">videocam</i>
    <i class="nav__icon nav__code">&lt;\&gt;</i>
  </nav>
  <div class="apps">
    <div class="apps__av">
      <h3>(video container)</h3>
      <!-- Video goes here -->
      <!--{{> av pin=pin}} -->
    </div>

    <div class="apps__chat">
      <h3>(chat container)</h3>
      <!-- Chat goes here -->
      <!--{{> chat}} -->
    </div>
  </div>
</section>


<!--
container (flex) two items
  side-nav (thin bar)
  app container relative
    videoelt (absolute)
    chatpartial (on chat click is 100% width, but usually right 0, 35%)
-->

<!-- DOM manipulations -->
<script type="text/javascript">
(function(){
  document.querySelector('.header__info').addEventListener('click', () =>{
    const popout = document.querySelector('.header__popout');
    if (popout.style.display === 'none') {
      popout.style = ''
    } else {
      popout.style.display = 'none'
    }
  })
})();

</script>
