<!-- Nav -->
{{!-- {{> nav}} --}}

<header>
  <!-- E.G. 'my webrtc workshop LIVE AT [www.livepeers.com?sessionid=EFGHI] CODE 6789' -->
  <ul>
    <li><img src="images/logo.png"/></li>
    {{!-- <li><h1>Room Name: {{roomName}}</h1></li>
    <li><h1>Username:  {{username}}</h1></li>
    <li>LIVE AT <code>https://livepeers.com?roomid={{roomId}}</code></li>
    {{#if pin}}
      <li>PIN <code>{{pin}}</code></li>
    {{/if}} --}}
  </ul>
</header>

{{!-- <section>
  <!-- Chat Partial  -->
  {{> chat}}
</section>


<section>
  <!-- AV Partial -->
  {{> av pin=pin}}
</section>

<!-- End Session Anchor -->
<section>
  <a href="/endsession">
    <!-- If font awesome is used, this markup would display telephone icon (http://fontawesome.io/icon/phone/) -->
    <i class="fa fa-phone" aria-hidden="true"></i>
    End Session
  </a>
</section> --}}
