<header class="header">
  <img class="header__logo header_logo--centre" src="images/logo.png" alt="Live Peers Logo"/>
  <a class="header__about-link">About Us</a>
</header>

<section class="login">
  <h1 class="login__welcome-text">Welcome to LivePeers</h2>
  {{if this.wrongRoomMessage}}
    <p class="login__wrong-room">{{this.wrongRoomMessage}}</p>
  {{else if this.endpointId}}
    {{> create}}
  {{else}}
    {{> join}}
  {{/if}}
</section>
