<div class="av">
  <video class="av__my-video"></video>
  <button class="av__hangup-button">
    <i class="material-icons av__hangup-button-icon">phone</i>
  </button>
  <video class="av__peer-video"></video>
</div>
