<div class="av">
  <!-- My-video (front)
  (add 'shrink' class to reveal lower elements)-->
  <video class="av__my-video"></video>
  <!-- Hang-button (middle) -->
  <button class="av__hangup-button">
    <i class="material-icons av__hangup-button-icon">phone</i>
  </button>
  <!-- Peer-video (rear) -->
  <video class="av__peer-video"></video>
</div>
