<div class="av">
  <!-- p defaults to display none -->
  <p class="av__error-message">Video call in progress - only 2 participants allowed.</p>

  <video class="av__my-video"></video>
  <button class="av__hangup-button">
    <i class="material-icons av__hangup-button-icon">phone</i>
  </button>
  <video class="av__peer-video"></video>
</div>
