<!-- Messages Tab -->
<h3 class="visible messages-tab">Messages</h3>

<!-- Chat Window-->
<div class="visible chat">
  <div class="chat__messages">
  </div>
</div>

<!-- Form -->
<form class="chat__form">
    <input type="text" class="chat__input" placeholder="Type a message">
    <button type="submit" class="chat__send" value="send">Send</button>
</form>

<!-- Messages Tab -->
<h3 class="participants-tab">Participants</h3>

<!-- participants Window -->
<div class="participants" style="display: none;">
  <div class="participants__mentor">
    <h2 class="participants__header">Mentor</h1>
    <ul class="participants__mentor-list">
    </ul>
  </div>
  <div class="participants__moderator">
    <h2 class="participants__header">Moderator</h1>
    <ul class="participants__moderator-list">
    </ul>
  </div>
  <div class="participants__students">
    <h2 class="participants__header">Students</h1>
    <ul class="participants__students-list">
    </ul>
  </div>
</div>
