<!-- Messages Tab -->
<h3 class="visible messages-tab">Messages</h3>

<!-- Chat Window-->
<div class="visible chat">
  <div class="chat__messages">
  </div>
</div>

<!-- Form -->
<form class="chat__form">
    <input type="text" class="chat__input" placeholder="Type a message">
    <button type="submit" class="chat__send" value="send">Send</button>
</form>

<!-- Messages Tab -->
<h3 class="participant-tab">Participants</h3>

<!-- participant Window -->
<div class="participant" style="display: none;">
  <div class="participant__mentor">
    <h2 class="participant__header">Mentor</h1>
    <ul class="participant__mentor-list">
    </ul>
  </div>
  <div class="participant__moderator">
    <h2 class="participant__header">Moderator</h1>
    <ul class="participant__moderator-list">
    </ul>
  </div>
  <div class="participant__students">
    <h2 class="participant__header">Students</h1>
    <ul class="participant__students-list">
    </ul>
  </div>
</div>
