<div class="chat">
  <div class="messages__container">
    <ul class="messages">
      <!-- username:message -->
    </ul>
    <form class="message__form">
      <input type="text" class="message__input">
      <input type="submit" class="message__send" value="send">
    </form>
  </div>

  <div class="online">
    <div class="online__mentor">
      <h1 class="online__header">Mentor</h1>
      <ul class="online__Mentor-list">
        <!-- Mentor -->
      </ul>
    </div>
    <div class="online__moderator">
      <h1 class="online__header">Moderator</h1>
      <ul class="online__Moderator-list">
        <!-- Moderator -->
      </ul>
    </div>
    <div class="online__students">
      <h1 class="online__header">Students</h1>
      <ul class="online__Students-list">
        <!-- Students -->
      </ul>
    </div>
  </div>
</div>
