<div class="'messages__container">
  <ul class="messages">
    <li> {{username}}: {{message}} </li>
  </ul>
</div>
  <div class="form__container">
  <form class="message__form">
    <input type="text" class="message__input">
    <input type="submit" class="message__send" value="send">
  </form>
</div>

<div class="online__users__container">
  <div class="online__mentor">
    <h1 class="online__headers">Mentor</h1>
    <ul class="online__Mentor__list">
    <!-- Mentor -->
    </ul>
  </div>
  <div class="online__moderator">
    <h1 class="online__headers">Moderator</h1>
    <ul class="online__Moderator__list">
    <!-- Moderator -->
    </ul>
  </div>
  <div class="online__students">
    <h1 class="online__headers">Students</h1>
    <ul class="online__Students__list">
    <!-- Students -->
    </ul>
  </div>
</div>
