<section>
  <div id="messagecontainer">
    <!--
    <p>John: Hi there</p>
    <p>Jane: Hey</p>
    -->
  </div>
  <form action="#">
    <input id="chatmessageinput" type="text" name="Chat Message" />
    <button  id="submitmessagebutton" type="submit" name="Submit Message Button" />
  </form>
</section>
