<h1>{{pin}}</h1>
<div class="chat">
  <div class="chat__window">
    <div class="chat__messages">
      <!-- username:message -->
    </div>
    <form class="chat__form">
      <input type="text" class="chat__input">
      <input type="submit" class="chat__send" value="send">
    </form>
  </div>

  <div class="online">
    <div class="online__mentor">
      <h1 class="online__header">Mentor</h1>
      <ul class="online__mentor-list">
        <!-- Mentor -->
      </ul>
    </div>
    <div class="online__moderator">
      <h1 class="online__header">Moderator</h1>
      <ul class="online__moderator-list">
        <!-- Moderator -->
      </ul>
    </div>
    <div class="online__students">
      <h1 class="online__header">Students</h1>
      <ul class="online__students-list">
        <!-- Students -->
      </ul>
    </div>
  </div>
</div>

